[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/sdl2"]
	path = lib/sdl2
	url = https://github.com/libsdl-org/SDL.git
